# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 6917919818445f38cc18c99e339a6f682577adcf509bc4a0c9b3050c74a04db080c8a9486a811f52a0d2c7759a661ccf0db2cad53db6451955907a219eed51bb

test:
  secret_key_base: 46eed5854c2155f932c2e712d0d6dc6a32c693f8d7ab4c1d98c2e52dbc8ac7aa01131d03f03030a16aeaea7bc461dff7af3ce5d8d31ec06eb99d688d4ed49835

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
